

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    margin: 15px;
    font-size: 50px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 10px 0px;
    /* padding: 0 20px; */
    background-color: rgba(52, 47, 199, 0.077);
    flex-basis: 30vw 50vw 50vw;
}
header, footer{
    height: 12vh;
    background-color: rgb(46, 107, 207);
    color: white;
}
.products{
    display: flex;
    height: 35vh;
    width: 90vw;
    border: 0.3px solid rgb(188, 177, 177);
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(145, 199, 243, 0.111);
    /* background-color: rgb(231, 221, 204); */
}

.product-img{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 240px;
    /* border: solid; */
    margin-right: 15px;
    background-color: white;
}
.description{
    flex-basis: 50%;
}
h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.stock-status{
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 10px;
}
.price{
    font-size: 20px;
    margin-bottom: 10px;
}
.in{
    color: rgb(0, 255, 0);
}
.out{
    color:red;
}
.mrp{
    font-style: italic;
    font-size: 15px;
    margin-bottom: 10px;
}
.product-img img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.action-buttons{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    min-width: 30vw;
    align-self: center;
    /* margin-left: 100px; */
    
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
}
#buy-now{
    background-color: #26a541;
}

#add-cart{
    background-color: #2874f0;
}
.delivery{
    font-weight: bold;
    font-size: small;
    /* font-style: italic; */
}
.location{
    margin-top: 0;
    padding: 10px;
    font-style: italic;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(153, 206, 255, 0.664);
}
a{
    text-decoration: none;
    color: black;
}
.buttons:hover{
    cursor: pointer;
}
.filters{
    font-size: 22px;
    align-self: flex-end;
    position: relative;
    left: -20px;
    margin-bottom: 25px;
}
#filter{
    font-size: 14px;
    padding: 5px;
}
.main-heading{
    font-size: 32px;
    margin-left: 10px;
    /* margin-right: 1px; */
    font-family: "Calligraffitti", cursive;
}
.search-container {
    display: flex;
    width: 650px;
    margin: 0 120px 0 50px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    background-color: #0f20856e;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button i {
    font-size: 18px;
}

button:hover {
    background-color: #2980b9;
}
header{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
}
.inner-container{
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}
.location-nav{
    display: flex;
    gap: 5px;
    /* width: 100px; */
}
.location-desc p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.login img, .cart img{
    width: 25px;
}
footer{
    font-size: 16px;
    padding: 10px;
    text-align: center;
    height: 7vh;
}
header a{
    color: white;
    text-decoration: none;
}